@page "/password/change"
@namespace Linova.ActiveDirectory.SelfService.Pages

@using LanguageExt.UnsafeValueAccess
@using LanguageExt
@using LanguageExt.Common
@model Linova.ActiveDirectory.SelfService.Pages.ChangePasswordPageModel

@section Heading
{
    <h2>Change Your Active Directory Password</h2>
}

@if (Model.Message.IsRight)
{
    <div class="row justify-content-center col-12 lead mb-2">
        <div class="text-success">
            @Model.Message.ValueUnsafe()
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <a asp-page="@PageNames.Home" role="button" class="btn btn-outline-primary">Back to home page</a>
    </div>
}
else
{
    <!-- Bottom means no message at all -->
    @if (Model.Message.IsLeft)
    {
        <div class="row justify-content-center col-12 lead mb-4">
            @foreach (var serverSideError in Model.Message.IfRight(() => Seq<Error>.Empty))
            {
                <span class="mr-2 text-danger">
                    <span>@serverSideError.Message</span>
                    @if (serverSideError.Code != 0)
                    {
                        <span> (Error Code @serverSideError.Code)</span>
                    }
                </span>
            }
        </div>
    }
    <div class="row">
        <!-- Model validation error text -->
        <div asp-validation-summary="ModelOnly" class="lead text-danger mb-2 col-12"></div>
        <form method="post" class="col-12 needs-validation" asp-antiforgery="false">
            <div class="form-group row">
                <label asp-for="PasswordChange.Username" class="col-form-label col-sm-3">Username</label>
                <div class="input-group col-sm-9">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-monospace">@await Model.DomainName\</span>
                    </div>
                    @if (Request.Query.TryGetValue("accountName", out var accountNameValues))
                    {
                        <input type="text" class="form-control text-monospace" asp-for="PasswordChange.Username" placeholder="Active Directory Username" value="@accountNameValues.SingleOrDefault()" readonly/>
                    }
                    else
                    {
                        <input type="text" class="form-control text-monospace" asp-for="PasswordChange.Username" placeholder="Active Directory Username"/>
                    }
                </div>
                <span asp-validation-for="PasswordChange.Username" class="text-danger d-block col-sm-9 mr-0 ml-auto"></span>
            </div>
            <div class="form-group row">
                <label asp-for="PasswordChange.Password" class="col-sm-3 col-form-label">Old Password</label>
                <div class="col-sm-9">
                    <input asp-for="PasswordChange.Password" type="password" class="form-control">
                </div>
                <span asp-validation-for="PasswordChange.Password" class="text-danger d-block col-sm-9 mr-0 ml-auto"></span>
            </div>
            <div class="form-group row">
                <label asp-for="PasswordChange.NewPassword" class="col-sm-3 col-form-label">New Password</label>
                <div class="col-sm-9">
                    <input asp-for="PasswordChange.NewPassword" type="password" class="form-control">
                </div>
                <span asp-validation-for="PasswordChange.NewPassword" class="text-danger d-block col-sm-9 mr-0 ml-auto"></span>
            </div>
            <div class="form-group row">
                <label asp-for="PasswordChange.RepeatNewPassword" class="col-sm-3 col-form-label">Repeat New Password</label>
                <div class="col-sm-9">
                    <input asp-for="PasswordChange.RepeatNewPassword" type="password" class="form-control">
                </div>
                <span asp-validation-for="PasswordChange.RepeatNewPassword" class="text-danger d-block col-sm-9 mr-0 ml-auto"></span>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
        </form>
    </div>
}